<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="http://local.arduino.cc/torino"><img src="{{ site.baseurl }}/img/Logo_600x177.png" width="250" height="80" alt="" /></a>
        
        <div class="rightAlign">
        <a class="page-link" href="{{ site.baseurl }}/">Home</a>

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        </div>

      </div>
    </nav>

  </div>

</header>
